.cookie-overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.cookie-box {
  background-color: #333;
  margin: auto;
  
  padding: 20px;
  border-radius: 25px;
  width: 80%;
  color:#f2f2f2;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-wrap: break-word;
	word-wrap: break-word;
}

.cookie-box button{
width: 225px;
margin-bottom: 5px;
box-shadow:none;
border-color:transparent;
font-size:15px;
background-color:#ddd;
cursor: pointer;
margin-left: 5%;
margin-right: 5%;
}

@media only screen and (max-width: 314px) {
	
.cookie-box button{
width:80%;
overflow-wrap: break-word;
word-wrap: break-word;
}
	
.cookie-box{
	overflow-y: scroll;
	max-height:80vh;
}	
	
}

.cookie-box input[type="checkbox"] {
  cursor: pointer;
  width:15px;
  height:15px;
  background:white;
}

#acceptAllBtn{
	background-color:#6288e0;
	color:#f2f2f2;
}

#acceptSelBtn:hover{
	background-color:#b7b7b7;
}

#acceptAllBtn:hover{
	background-color:#586fc9;
}