.embedded-container { 
	position: relative; 
	padding-top: 30px; 
	height: 0;
	margin-top:19px;
	margin-bottom:19px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	}

.embedded-container iframe,.embedded-container img{ 
	position: absolute; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.no-embed-4u{
	max-height:50vh;
	padding-left:19px;
	padding-right:19px;
	margin-top:19px;
	margin-bottom:19px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	background-color:#f0f0f0;
	text-align: center;
	overflow:hidden;
}