body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e8e5e5;
}
@media screen and (max-width: 992px) {
.topnavi {
  overflow: hidden;
  background-color: #333;
}

.topnavi a {
float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 19px 28px;
  text-decoration: none;
  font-size: 19px;
}
}

@media screen and (min-width: 993px) {
.topnavi {
  overflow: hidden;
  background-color: #333;
  text-align:center;
  position: fixed;
  width: 100%;
  top: 0;
}

.topnavi a {
float: none;
display:inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 19px 28px;
  text-decoration: none;
  font-size: 19px;
}
}

.topnavi a:hover {
  background-color: #ddd;
  color: black;
}

.topnavi a.activee {
  background-color: #3894c9;
  color: white;
}