.title-box{
	background-color:#333;
	color:#f2f2f2;
	border:1px solid #333;
	border-radius: 25px;
	text-align: center;
	overflow: hidden;
	margin-left:15%;
	margin-right: 15%;
	margin-top:10%;
}

.text-box {
	text-align: left;
	background-color:white;
	padding-left: 19px;
    padding-right: 19px;
    padding-top: 38px;
    padding-bottom: 57px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	color:black;
}

@media only screen and (max-width: 1000px) {
	.title-box{
		margin-left:5px;
		margin-right:5px;
		margin-top:19%;
	}
}