.title-box{
	background-color:#333;
	color:#f2f2f2;
	border:1px solid #333;
	border-radius: 25px;
	text-align: center;
	overflow: hidden;
	margin-left:15%;
	margin-right: 15%;
	margin-top:100px;
	margin-bottom:10%;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.text-box {
	text-align: left;
	background-color:white;
	padding-left: 19px;
    padding-right: 19px;
    padding-top: 38px;
    padding-bottom: 57px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	color:black;
	min-height:65vh;
}

.title-box #date{
	color:#d8d8d8;
	text-align: center;
	font-size:16px;
	margin-bottom:9px;
}

@media only screen and (max-width: 1000px) {
	.title-box{
		margin-left:0px;
		margin-right:0px;
	}
	.text-box{
		padding-left: 9px;
		padding-right: 9px;
	}
}